<!-- cette vue présente le détail du produit sélectionné -->
<div class="p-2">
        <div class="p-1">
            <!-- Contenu du competences  -->
            <div class="container-fluid">
                    <div class="card bg-primary text-white text-center p-3 my-3">
                        <blockquote class="blockquote mb-0">
                            <h2 class="heading" id="Competences">FORMATION</h2>
                        </blockquote>
                    </div>
                <div class="row">
                    <div class="offset-3 col-md-6 col-12">
                        <p>jlkjlkjmsjdfmlkj</p>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="book">
                            <p>hnkjhk</p>
                        </div>
                    </div>
                </div>
            </div>