<!-- la vue home présente tous les produits -->
<h1>ljldkjklfgkjedl</h1>
<div>
  <div>
    <!-- Contenu du home  -->
    <a href="assets/misc/20190522 CV Andreea Villatte Britchi.pdf">CV papier :)</a>
    <!-- Equal width cols, same on all screen sizes -->
    <div class="container-fluid">
      <div class="row">
        <div class="col square" id="square1">
          <button ng-click="gotoUrl('/competences/')" type="button" class="btn btn-success">Competences</button>
        </div>
        <div class="col square" id="square2">
          <button ng-click="gotoUrl('/experiences/')" type="button" class="btn btn-success">Experiences</button>
        </div>
        <div class="col square" id="square3">
          <button ng-click="gotoUrl('/formation/')" type="button" class="btn btn-success">Formation</button>
        </div>
      </div>
    </div>
  </div>
</div>
<h2>ejlrkjgel</h2>