<div class="p-2">
  <div class="p-1">
    <!-- Contenu du homme  -->
    <div class="container-fluid">
      <div class="card bg-primary text-white text-center p-3 my-3">
        <blockquote class="blockquote mb-0">
          <h2 class="heading" id="Competences">Des choses sur moi</h2>
        </blockquote>
      </div>
      <div class="row p-3" ng-repeat="content in formation">
        <div data-aos="{{content.AOS}}" class="card offset-md-6 col-md-4" ng-if="content.Side=='left'">
          <div class="card-body">
            <p class="font-weight-bold primary">{{content.Periode}}</p>
            <p class="titlePerso">{{content.MatieresCompetences}}</p>
            </a>
            <li>{{content.Certificat}}</li>
            <li><a href={{content.SiteInternet}}>{{content.Institution}}</a></li>
          </div>
        </div>
        <div data-aos="{{content.AOS}}" class="card offset-md-2 col-md-4" ng-if="content.Side=='right'">
          <div class="card-body">
            <p class="font-weight-bold primary">{{content.Periode}}</p>
            <p class="titlePerso">{{content.MatieresCompetences}}</p>
            </a>
            <li>{{content.Certificat}}</li>
            <li><a href={{content.SiteInternet}}>{{content.Institution}}</a></li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>